.auth-layout {
  width: 300px;
  text-align: center;
  margin: auto;

  &-title {
    margin: 80px 0 50px;
    font-size: 24px;
    font-weight: 400;
  }

  &-form-field {
    min-height: 60px;
    margin-bottom: 10px;

    &:nth-last-child(2) {
      margin-bottom: 20px;
    }
  }

  &-submit-button {
    height: 60px;
  }
}
